
.transactions-list {
  display: flex;
  flex-direction:column;
  
  background-color: #FFFFFF;
  width:100%;
  max-width:700px;
 
  border-radius: 15px;
  
}

.transaction {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #9b9b9b;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
  
}

.icon {
  font-size: 20px;
}
.categoryicon {
   font-size: 20px;
  color:#000000;
  background-color:#9b9b9b ;
  border-radius: 25px;
}
.items{
  color:#000000;
}

.details h4 {
  margin: 0;
  font-size: 14px;
  
}

.details p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.amount {
  font-weight: bold;
  color: #F4BB4A;
  margin-right:auto;
}
.delete{
background-color:#ff3838;
}
.edit{
background-color:#f4bb4a;
}

.actions {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.no-transactions {
  text-align: center;
  padding: 20px;
  color: black;
  font-weight: 500;
}
.transaction:last-child{
  border-bottom: none;
}
@media (max-width:768px){
  .transactions-list{
    flex-direction: column;
    width:100%;
  }
  .transaction{
   
    align-items:flex-start;
    gap:10px;
  }
  .left{
    width:100%;
  }
  .amount{
    margin-right: 0;
  }

  .actions{
    width:100%;
    justify-content: flex-end;
  }

  .edit,
  .delete{
    padding:8px;
    border-radius: 8px;
  }
}

